<div id="<%= dom_id service %>" class="m-5">
  <table class="table">
    <tr>
      <td><strong>Name</strong></td>
      <td><%= service.name %></td>
    </tr>
    <tr>
      <td><strong>Active</strong></td>
      <td><%= service.active %></td>
    </tr>
  </table>
</div>
