<div id="<%= dom_id buyer_location %>">
  <p>
    <strong>Location:</strong>
    <%= Location.find(buyer_location.location_id)[:zip_code] %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= Buyer.find(buyer_location.buyer_id)[:name] %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= buyer_location.active %>
  </p>

</div>
