<div id="<%= dom_id buyer_location %>">
  <p>
    <strong>Location:</strong>
    <%= buyer_location.location_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= buyer_location.buyer_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= buyer_location.active %>
  </p>

</div>
