<div id="<%= dom_id buyer_location %>" class="m-5">

  <table class="table">
    <tr>
      <td><strong>Location</strong> </td>
      <td>   <%= Location.find(buyer_location.location_id)[:zip_code] %></td>
    </tr>
    <tr>
      <td><strong>Buyer</strong></td>
      <td><%= Buyer.find(buyer_location.buyer_id)[:name] %></td>
    </tr>
    <tr>
      <td><strong>Active</strong></td>
      <td><%= buyer_location.active %></td>
    </tr>
  </table>

</div>
