<h1>Editing service buyer</h1>

<%= render "form", service_buyer: @service_buyer %>

<br>

<div>
  <%= link_to "Show this service buyer", @service_buyer %> |
  <%= link_to "Back to service buyers", service_buyers_path %>
</div>
