<p style="color: green"><%= notice %></p>

<h1>Service buyers</h1>

<div id="service_buyers">
  <% @service_buyers.each do |service_buyer| %>
    <%= render service_buyer %>
    <p>
      <%= link_to "Show this service buyer", service_buyer %>
    </p>
  <% end %>
</div>

<%= link_to "New service buyer", new_service_buyer_path %>
